<div class="dashbox">
    <div class="icon <%= iconClass %>"><%= icon %></div>
    <div class="meta">
        <div class="label"><%= label %></div>
        <div class="value"><%= value %></div>
    </div>
</div>
